body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

h1 {
    font-size: 25rem;
    color: white;
    margin: 0;
}